
/* css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --spacingBorder: 8px;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
h1 {
  font-family: "Inter",sans-serif;
  color: #e63946;
  font-weight: 900;
  letter-spacing: -0.045em;
}
.spacing {
  height: 100%;
  position: fixed;
  left: var(--spacingBorder);
  top: 0px;
  right: var(--spacingBorder);
  background-color: #457b9d;
  z-index: 1;
}
.whiteBox {
  position: absolute;
  top: 0px;
  background-color: #f1faee;
  height: var(--spacingBorder);
  z-index: 2;
  width: 100%
}
.header {
  text-align: center;
  background: #a8dadc;
  position: relative;
  z-index: 3;
  margin: 16px;
  margin-bottom: var(--spacingBorder);

}
.header h1 {
  color: #1d3557;
  font-size: 60px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 25px;
}
.intro {
  font-style: italic;
  color: #1d3557;
  text-indent: 20px;
  z-index: 2;
  font-weight: 900;
}
.intro .box {
  margin: 0px;
}
.main {
  position: absolute;
  z-index: 2;
  left: var(--spacingBorder);
  right: var(--spacingBorder);
  height:100%;
  padding-left: var(--spacingBorder);
  padding-right: var(--spacingBorder);

}
.column1 {
  width: 60%;
  float: left;
}
.column1 .box {
  margin-left: 0px;
  margin-right: 0px;
}
.column2 {
  width: 40%;
  float: right;
}
.column2 .box {
  margin-right: 0px;
  text-align: center;
  padding: 18px;
}
.box {
  background-color: #f1faee;
  padding: var(--spacingBorder);
  margin: var(--spacingBorder);
}
.footer {
  float: left;
  width: 100%;
  text-align:center;
}
ol {
  color: #1d3557;
  font-weight: 900;
  letter-spacing: -0.045em;
  list-style-type: upper-roman;
  padding-left: 20px;
}
ul {
  color: #1d3557;
  font-weight: 900;
  letter-spacing: -0.045em;
  padding-left: 20px;
}
h2 {
  color: #1d3557;
  font-weight: 900;
  letter-spacing: -0.045em;
  padding-left: 20px;
}
